<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>300584351701-n1vk4vmeu3johc6f9e9rtg76s452gevr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300584351701-n1vk4vmeu3johc6f9e9rtg76s452gevr</string>
	<key>API_KEY</key>
	<string>AIzaSyDwd38cVdICmn4TO8d3BxMPdCHNz_ssPw8</string>
	<key>GCM_SENDER_ID</key>
	<string>300584351701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.realtimechat</string>
	<key>PROJECT_ID</key>
	<string>realtime-chat-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-chat-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300584351701:ios:d36f612697a45ca6</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-chat-prod.firebaseio.com</string>
</dict>
</plist>